# .gitignore



# Исключение директорий с кэшом Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключение виртуального окружения
venv/
ENV/
env/
.venv/


# Исключение системных файлов
.DS_Store
Thumbs.db

# Исключение файлов редакторов
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/
*.iml

# Исключение файлов сборки
build/
dist/
*.egg-info/

# Исключение других временных файлов
*.log
*.tmp
*.bak
