# requirements.txt

# Библиотека для взаимодействия с Telegram API
aiogram==3.15.0

# Библиотека для загрузки переменных окружения из .env файла
python-dotenv==1.0.0

# Библиотека для взаимодействия с панелью 3x-ui
py3xui==0.3.2

# Необходимые зависимости для py3xui n
aiohttp==3.9.0